@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}report-file';

#{$block} {
    @include text-size(body-2);

    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 100px;
    padding: 10px $indentSM;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    display: flex;
    transition: background-color 0.3s ease-in-out;
    background-color: var(--g-color-private-blue-50);

    &:hover {
        background-color: var(--g-color-private-cool-grey-400);
    }

    &_outlined {
        border-color: var(--g-color-private-cool-grey-400);
        background-color: transparent;
        &:hover {
            background-color: var(--g-color-private-blue-50);
        }
    }
}
