@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}empty-plug';

#{$block} {
    @include text-size(body-2);

    height: $indentXXXL;
    width: 100%;
    background-color: var(--pc-color-empty);
    border-radius: $indentSM;
    justify-content: center;
    align-items: center;
    display: flex;
}
