@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}link-table-block';

#{$block} {
    @include animate(#{$block}__root);

    &__links {
        padding-top: $indentXS;
    }
}
