@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}logo-rotator-block';

#{$block} {
    @include animate(#{$block}__root);

    &__row {
        justify-content: center;
    }

    &_theme_dark &__title {
        color: #ffffff;
    }

    &__title {
        margin-bottom: $indentL;
        text-align: center;
        font-size: 48px;
        line-height: 52px;
        font-weight: 600;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: $indentXS;
    }

    &__item {
        display: block;
        height: 100px;
        transition: opacity 0.5s ease 0.1s;
        opacity: 1;

        &_hidden {
            opacity: 0;
        }

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            height: 80px;
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__row-items {
        display: flex;
        flex-wrap: wrap;
        padding-top: $indentXS;
        padding-bottom: $indentXS;
        gap: 46px $indentXS;
    }

    &__row-item {
        display: block;
        height: 36px;
        min-width: 160px;
        flex: 1;
        transition: opacity 0.5s ease 0.1s;
        opacity: 1;

        &_hidden {
            opacity: 0;
        }
    }
}
