@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}ir-events-feed-upcoming-block';

#{$block} {
    margin-top: 48px;
    padding-bottom: 48px;

    &__title {
        margin-bottom: $indentM;
    }
}
