@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}attachment-card';

#{$block} {
    @include add-specificity(&) {
        min-height: auto;
    }

    &__item {
        margin: 0;

        & > a {
            color: inherit;
            column-gap: $indentXXXS;

            &:hover {
                color: inherit;
                opacity: 80%;
            }
        }
    }

    &__item-icon {
        height: $indentXS;
        width: $indentXS;
        display: block;
    }

    &__item-name {
        @include text-size(body-2);
    }

    &__content {
        flex: initial;
        margin-bottom: $indentSM;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: $indentXS;

        &_column {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__footer {
        margin-top: $indentM;
        row-gap: $indentXS;
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &__date {
        @include text-size(body-1);
        color: var(--pc-color-summary);
    }

    &__time {
        padding-left: $indentXXXS;
        gap: $indentXXXS;
        display: flex;
        align-items: center;
    }

    &__dot {
        background-color: var(--g-color-private-cool-grey-400);
        border-radius: 100%;
        width: 5px;
        height: 5px;
    }
}
