@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}reports-sections-block';

#{$block} {
    --pc-color-empty: var(--g-color-base-background);

    &__title {
        margin-bottom: 24px;
    }

    &__wrap-sections {
        @include animate-fade(#{$block}__sections);
    }

    &__sections {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }
}
