@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}reports-sections-block';

#{$block} {
    &__title {
        margin-bottom: 24px;
    }

    &__select {
        margin-bottom: $indentM;
        gap: $indentXS;
        display: flex;
        flex-wrap: wrap;
    }

    &__sections {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    &__empty {
        @include text-size(body-2);

        height: $indentXXXL;
        width: 100%;
        background-color: var(--g-color-private-blue-50);
        border-radius: $indentSM;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
