@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}reports-sections-block';

#{$block} {
    &__title {
        margin-bottom: 24px;
    }

    &__sections {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    &__empty {
        background: var(--g-color-base-background);
    }
}
