@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}unicorn-cards-block';

#{$block} {
    @include animate(#{$block}__root);

    &__root {
        display: flex;
        flex-direction: column;
        gap: $indentL;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: $indentXS;
        align-items: center;
        text-align: center;

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            align-items: initial;
            text-align: initial;
        }
    }

    &__text {
        @include text-size(header-2);
        opacity: 0.6;

        @media (max-width: map-get($gridBreakpoints, 'sm')) {
            @include text-size(body-3);
        }
    }

    &__items {
        row-gap: $indentXS;
    }
}
