@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}relevant-reports-cards-block';

#{$block} {
    &__pinned {
        padding-top: $indentL;
    }
    &__slider {
        padding-top: $indentXXS;
    }
}
