@import '../../../../../styles/variables';
@import '../../../../../styles/mixins';

$block: '.#{$ns}constructor-blocks';

#{$block} {
    &_no-horizontal-scroll {
        position: relative;
        overflow-x: hidden;
    }
}
