@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}feed-partner';

#{$block} {
    border-radius: $borderRadius;
    background-color: var(--g-color-base-float);
    transition: box-shadow 0.3s $ease-out-cubic;
    @include card-border();
    display: flex;
    overflow: hidden;
    position: relative;
    height: 100%;
    min-height: 434px;
    width: 100%;

    --pc-tag-background-color: var(--g-color-base-brand);
    --pc-tag-text-color: var(--g-color-base-background);

    &__background {
        position: absolute;
        inset: 0;

        &-image {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 80px;
    }

    &__level {
        padding: $indent4XS $indentXXS;
        border-radius: $indentXS;
        @include text-size(body-2);
        background-color: var(--g-color-base-background);
        color: var(--g-color-base-brand);
    }

    &__image {
        display: block;
    }

    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 28px $indentM $indentM;
        gap: $indentSM;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: $indentXXXS;
    }

    &__tag {
        @include text-size(body-1);
        height: 36px;
        display: flex;
        align-items: center;
        padding: 0 $indentXS;
        border: 1px solid var(--g-color-private-black-100);
        border-radius: $indentSM;
        color: var(--g-color-text-primary);
    }

    &_jumpOnHover {
        @include card-hover();
    }

    &__type {
        @include text-size(body-2);
        color: var(--g-color-text-primary);
        opacity: 0.6;
        font-weight: bold;
        margin-bottom: $indent4XS;
    }

    &__title {
        @include text-size(header-2);
        color: var(--g-color-text-primary);
        font-weight: bold;
        margin-bottom: $indentXXXS;
    }

    &__subtitle {
        @include text-size(body-2);
        color: var(--g-color-text-secondary);
    }
}
