@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}relevant-reports-block';
$blockContent: '.#{$ns}content';

#{$block} {
    &__pinned {
        padding-top: $indentL;
    }
    &__slider {
        padding-top: $indentXXS;
    }
    &__item {
        height: 100%;

        & #{$blockContent} {
            justify-content: space-between;
        }
    }
}
