@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}benefits-card';

#{$block} {
    background-color: rgba(31, 47, 61, 0.3);
    display: flex;
    flex-direction: column;
    gap: $indentXXXS;
    padding: $indentM;
    min-height: 360px;
    min-width: 270px;
    border-radius: $indentSM;
    flex: 1;

    &__icon {
        display: block;
        width: $indentXL;
        height: $indentXL;
        object-fit: contain;
        margin-bottom: $indentSM;
    }

    &__title {
        @include text-size(header-2);

        color: var(--local-accent-color);
    }

    &__text {
        @include text-size(body-3);

        color: var(--local-base-color);
        opacity: 0.8;
    }
}
