@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}benefits-label';

#{$block} {
    background-color: rgba(31, 47, 61, 0.3);
    display: flex;
    flex-direction: column;
    gap: $indentXXXS;
    padding: $indentM;
    min-height: 158px;
    min-width: 270px;
    border-radius: $indentSM;
    flex: 1;
    border: 1px solid transparent;
    cursor: pointer;

    &_active {
        border: 1px solid var(--local-accent-color);
    }

    &__title {
        @include text-size(display-2);

        color: var(--local-accent-color);
        text-align: center;
    }

    &__text {
        @include text-size(body-3);

        color: var(--local-base-color);
        opacity: 0.8;
        text-align: center;
    }
}
