@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}header-minify-block';
$backgroundWidth: 1440px;

#{$block} {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #001a2b;
    padding-top: 155px;
    padding-bottom: 203px;
    text-align: center;

    &__title {
        font-size: 128px;
        font-weight: 700;
        line-height: 102px;
        letter-spacing: -0.02em;
        margin: 0;

        position: relative;
    }

    &__description {
        margin-top: $indentSM;
        position: relative;
        opacity: 0.8;
        max-width: 1024px;

        .yfm {
            @include text-size(header-2);
        }
    }

    &__buttons {
        position: relative;
        margin-top: $indentL;
    }
}
