@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}header-minify-block';
$backgroundWidth: 1440px;

#{$block} {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    color: #001a2b;
    padding-top: 186px;
    padding-bottom: 186px;
    text-align: center;

    &__title {
        font-size: 128px;
        font-weight: 700;
        line-height: 102px;
        @include add-specificity(&) {
            letter-spacing: -0.014em;
        }
        margin: 0;

        position: relative;

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            font-size: 48px;
            line-height: 52px;
        }
    }

    &__description {
        margin-top: $indentSM;
        position: relative;
        opacity: 0.8;
        max-width: 1024px;

        .yfm {
            @include text-size(header-2);
            font-weight: 600;
        }
    }

    &__buttons {
        position: relative;
        margin-top: $indentL;
    }
}
