@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}benchmark-block';

#{$block} {
    @include animate(#{$block}__root);

    &__root {
        display: flex;
        flex-direction: column;
        gap: $indentM;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: $indentXS;
        align-items: center;
        text-align: center;

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            align-items: initial;
            text-align: initial;
        }
    }

    &__title {
        @include text-size(display-4);
        margin: 0;
        font-weight: var(--g-text-accent-font-weight);
        color: var(--g-color-text-primary);

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            @include text-size(display-1);
        }
    }

    &__text {
        font-size: 24px;
        line-height: 28px;
        opacity: 0.6;

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            @include text-size(body-3);
        }
    }

    &__items {
        display: flex;
        background-color: var(--local-items-bg, #eeeeee);
        padding: $indentL 0;
        border-radius: $indentSM;

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            flex-direction: column;
            padding: 0 $indentL;
        }
    }

    &__item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: $indentXS;
        text-align: center;
        padding: 0 $indentXS;

        & + & {
            border-left: 1px solid #001a2b33;
        }

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            padding: $indentSM 0;

            & + & {
                border-left: none;
                border-top: 1px solid #001a2b33;
            }
        }

        &-value {
            font-size: 48px;
            line-height: 52px;
            font-weight: 600;

            @media (max-width: map-get($gridBreakpoints, 'md')) {
                font-size: 40px;
                line-height: 48px;
            }

            .odometer {
                font-family: inherit;

                &-digit {
                    font-variant-numeric: tabular-nums;

                    &-inner {
                        text-align: center;
                    }
                }
            }
        }

        &-text {
            @include text-size(body-1);
        }
    }
}
