@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}title';

#{$block} {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        margin: 0;
    }

    &__description {
        .yfm {
            @include text-size(body-3);
        }

        margin-top: $indentXXS;

        &_bold {
            font-weight: bold;
        }

        &_titleSize_s,
        &_titleSize_xs {
            margin-top: $indentXXXS;

            .yfm {
                @include text-size(body-2);
            }
        }
    }
}
