@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}reports-block';

#{$block} {
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 24px;
    }

    &__loader {
        align-self: center;
        width: 48px;
        height: 48px;

        & > div {
            border-color: var(--pc-color-progress-circular);
        }
    }

    &__paginator {
        margin-top: $indentM;
    }

    &__items {
        @include reset-list-style();
    }
}
