@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}reports-block';

#{$block} {
    &__title {
        margin-bottom: 24px;
    }

    &__select {
        margin-bottom: $indentM;
        gap: $indentXS;
        display: flex;
        flex-wrap: wrap;
    }

    &__items {
        @include reset-list-style();
    }
}
