@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}file-link';

#{$block} {
    $root: &;
    text-decoration: none;
    align-items: center;

    &_type_horizontal {
        display: flex;

        #{$root}__file-label {
            margin-right: 8px;
        }
    }

    &__file-label {
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        width: 52px;

        //for text centering inside label
        .g-label__text {
            width: initial;
        }
    }

    color: var(--g-color-text-primary);
    border-radius: var(--g-focus-border-radius);
    @include focusable();

    &:hover {
        color: var(--g-color-text-secondary);
    }

    &_size {
        &_l,
        &_m {
            #{$root}__file-label {
                @include text-size(body-2);
            }
        }

        &_xs,
        &_s {
            #{$root}__file-label {
                @include text-size(body-1);
            }
        }
    }

    &_theme {
        &_dark {
            #{$block} {
                color: var(--g-color-text-light-primary);
            }

            #{$block}:hover {
                color: var(--g-color-text-light-secondary);
            }
        }

        &_light {
            #{$block} {
                color: var(--g-color-text-dark-primary);
            }

            #{$block}:hover {
                color: var(--g-color-text-dark-secondary);
            }
        }
    }
}
