@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

$block: '.#{$ns}card';
$blockBackgroundImage: '.#{$ns}storage-background-image';

#{$block} {
    &__header {
        height: 136px;

        & p {
            margin: 0;
        }
    }

    &:hover #{$blockBackgroundImage}__img_hover {
        opacity: 1;
    }

    &__title {
        @include heading4;
        margin: 0;
    }

    &__service {
        display: flex;
        flex-wrap: wrap;

        margin-top: $indentS;
        padding-top: $indentXS;

        border-top: 1px solid var(--g-color-line-generic);
    }

    &__phrase {
        margin-right: $indent4XS;
    }
}
