@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}banner-minify-button';

#{$block} {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $indentXS 28px;
    border-radius: $indentXS;
    background: var(--dc-accent-color);
    color: var(--dc-bg-color);
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    height: 61px;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &_theme_outline {
        border: 1px solid var(--dc-accent-color);
        background: transparent;
        color: var(--dc-accent-color);
    }

    @include hover() {
        opacity: 0.8;
    }
}
