@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}MediaCard';

#{$block} {
    position: relative;

    &__label {
        position: absolute;
        top: $indentSM;
        left: $indentSM;
    }

    &__body {
        padding: 0;
    }
}
