@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}MediaCard';

#{$block} {
    position: relative;

    &__labels {
        display: flex;
        flex-wrap: wrap;
        gap: $indentXXXS;
        position: absolute;
        top: $indentSM;
        left: $indentSM;
    }

    &__body {
        padding: 0;
    }
}
