@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}VideoBlock';

#{$block} {
    position: relative;

    &__preview {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        &-wrapper {
            height: 100%;
            width: 100%;
        }
    }

    &__button {
        @include reset-button-style();
        @include focusable();

        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 64px;
        height: 64px;

        color: var(--g-color-base-background);
        backdrop-filter: blur(30px);
        background-color: rgba(215, 215, 215, 0.32);
        border-radius: 50%;
    }

    &__icon {
        margin-left: 1px;
    }
}
