@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}header-minify-button';

#{$block} {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 28px;
    border-radius: $indentXS;
    background: #001a2b;
    color: #ffffff;
    height: 61px;
    @include text-size(header-2);
    font-weight: 500;
    letter-spacing: 1%;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &_outline {
        background: transparent;
        border: 2px solid #001a2b;
        color: #001a2b;
    }

    @include hover() {
        opacity: 0.8;
    }
}
