@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

$block: '.#{$ns}header-minify-button';

#{$block} {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $indentXS 28px;
    border-radius: $indentXS;
    background: #001a2b;
    color: #ffffff;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.01em;
    text-decoration: none;
    transition: opacity 0.3s ease;

    &__icon {
        width: $indentSM;
        height: $indentSM;
        margin-right: $indentXXXS;
    }

    @include hover() {
        opacity: 0.8;
    }
}
