@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}press-releases-block';

#{$block} {
    display: flex;
    flex-direction: column;

    &__paginator {
        @include add-specificity(&) {
            margin-top: $indentM;
        }
    }
}
