@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}highlight-table-block';

#{$block} {
    $class: &;

    &__title {
        margin-bottom: 24px;
    }

    &__legend {
        display: flex;
        column-gap: 28px;
        align-items: center;
        justify-content: center;
        padding: 0 $indentS;
        border: 1px solid transparent;

        &_left {
            justify-content: flex-start;
        }

        &_right {
            justify-content: flex-end;
        }

        &_position-top {
            margin-bottom: $indentXXS;
        }

        &_position-bottom {
            margin-top: $indentXXS;
        }
    }

    &__legend-item {
        display: flex;
        align-items: center;

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__table {
        overflow: auto;

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            margin-right: -$indentL;
            margin-left: -$indentL;
            padding: 0 $indentL $indentXXS;
            scrollbar-width: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        @media (max-width: map-get($gridBreakpoints, 'sm')) {
            margin-right: -$indentSM;
            margin-left: -$indentSM;
            padding: 0 $indentSM $indentXXS;
        }
    }

    &__content {
        display: inline-block;
    }

    &__head {
        color: rgba(0, 0, 0, 0.5);
    }

    &__body {
        border: 1px solid var(--g-color-private-black-100);
    }

    &__head,
    &__body {
        border-radius: 10px;
        overflow: hidden;
    }

    &__row {
        display: flex;
        padding: $indentXXS;

        & + & {
            border-top: 1px solid var(--g-color-private-black-100);
        }
    }

    &__cell {
        padding-right: $indentXXXS;
        padding-left: $indentXXXS;

        p {
            margin: 0;
        }

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__scrollbar {
        visibility: hidden;
        overflow: hidden;
        height: 5px;
        width: 100%;
        margin-top: -5px;
        border-radius: 2px;
        background-color: var(--g-color-private-black-150);

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            visibility: visible;

            & > div {
                height: 100%;

                border-radius: 2px;
                background-color: var(--g-color-private-black-400);

                transition: transform ease 50ms;
            }
        }
    }
}
