@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

$block: '.#{$ns}whats-new-block';

#{$block} {
    @include animate(#{$block}__root);

    &__root {
        display: flex;
        flex-direction: column;
        gap: $indentM;
    }

    &__head {
        display: flex;
        flex-direction: column;
        gap: $indentXS;
        align-items: center;
        text-align: center;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: $indentM;

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            flex-direction: column;
            gap: $indentXXS;
        }
    }

    &__footnote {
        font-size: 24px;
        line-height: 40px;
        color: var(--g-color-text-primary);
        font-weight: 500;

        @media (max-width: map-get($gridBreakpoints, 'md')) {
            @include text-size(body-3);
        }
    }

    &__links {
        display: flex;
        gap: $indentXXXS;
    }

    &__link {
        display: flex;
        cursor: pointer;

        @include hover() {
            opacity: 0.8;
        }
    }

    &__icon {
        display: block;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}
