@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}progress-circular';

$itemDimensions: 52px;

#{$block} {
    $block: &;

    animation: rotate 1.4s linear infinite;
    transform-origin: center;

    &__fg {
        stroke-linecap: round;
        animation: dash 1.4s ease-in-out infinite;

        stroke: var(--pc-color-progress-circular);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
