@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}advantages-block';

#{$block} {
    @include animate();

    &__header {
        flex: 1;
        display: flex;
        flex-direction: column;

        @include add-specificity(&) {
            padding-top: $indentM;
            padding-bottom: $indentM;
        }
    }

    &__title {
        @extend %heading-margin-reset;
        @include heading1;

        color: var(--pc-color-ab-base);
    }

    &__link {
        @extend %heading-margin-reset;
        @include heading1;

        transition: color 0.3s ease;
        color: var(--pc-color-ab-second);
        margin-bottom: $indentM;

        @include hover() {
            color: var(--pc-color-ab-base);
        }
    }

    &__wrap-logo {
        margin-top: auto;
    }

    &__logo {
        display: block;
        object-fit: contain;
        height: 76px;
    }

    &__item {
        display: flex;
        margin-left: $indentXXXS;
        border-left: 1px var(--pc-color-ab-border) solid;
        border-right: 1px var(--pc-color-ab-border) solid;
        transition: opacity 0.3s ease;

        @include hover() {
            opacity: 0.5;
        }

        & + & {
            border-top: 1px var(--pc-color-ab-border) solid;
        }

        &-wrap {
            padding: $indentM;
        }

        &-image {
            width: 230px;
            height: 230px;
            display: block;
            margin-left: $indentM;
        }

        &-title {
            @extend %heading-margin-reset;

            @include heading3;

            color: var(--pc-color-ab-second);
            margin-bottom: $indentXXXS;
        }

        &-desc {
            @include heading3;

            color: var(--pc-color-ab-base);
            opacity: 0.6;
        }

        @media (max-width: map-get($gridBreakpoints, 'lg')) {
            border-left: none;
            border-right: none;
            border-top: 1px var(--pc-color-ab-border) solid;
            margin-left: 0;

            &-wrap {
                padding: $indentM 0;
            }
        }

        @media (max-width: map-get($gridBreakpoints, 'sm')) {
            flex-direction: column;
            margin-bottom: $indentXS;

            &-wrap {
                padding: $indentXS 0;
            }
        }
    }
}
