@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}advantages-block';

#{$block} {
    @include animate();

    &__header {
        margin-bottom: $indentXS;
    }

    &__title {
        padding-top: $indentXS;
    }

    &__title,
    &__link {
        @extend %heading-margin-reset;

        font-size: 56px;
        line-height: 50px;
        color: var(--pc-text-header-color);
        font-weight: normal;
        letter-spacing: -3px;
        margin-bottom: $indentL;

        @media (max-width: map-get($gridBreakpoints, 'lg')) {
            margin-bottom: $indentXS;
            padding-top: 0;
        }

        @media (max-width: map-get($gridBreakpoints, 'sm')) {
            @include text-size(display-2);
        }
    }

    &__link {
        opacity: 1;
        transition: opacity 0.3s ease;

        @include hover() {
            color: var(--pc-text-header-color);
            opacity: 0.5;
        }
    }

    &__item {
        display: block;
        padding: $indentSM 0;

        transition: background-color 0.3s ease;

        & + & {
            border-top: 1px var(--g-color-private-black-200) dashed;
        }

        &-wrap {
            display: flex;
            margin-top: $indentXXXS;

            @media (max-width: map-get($gridBreakpoints, 'md')) {
                margin-top: 0;
                margin-bottom: $indentXS;
                align-items: center;
            }
        }

        &-icon {
            width: 25px;
            height: 25px;
            display: block;
            margin-right: $indentXS;
        }

        &-title {
            @extend %heading-margin-reset;

            font-size: 14px;
            line-height: 20px;
            color: var(--pc-text-header-color);
            font-weight: normal;
        }

        &-desc {
            font-size: 24px;
            line-height: 32px;
            color: var(--pc-text-header-color);
            letter-spacing: -1px;

            @media (max-width: map-get($gridBreakpoints, 'sm')) {
                @include text-size(body-3);
            }
        }

        @media (min-width: map-get($gridBreakpoints, 'lg')) {
            padding: $indentSM;

            @include hover() {
                background-color: var(--pc-ab-hover-color, var(--g-color-private-black-100));
            }
        }
    }
}
