@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}form-wall-block';

#{$block} {
    backdrop-filter: blur(5px);

    &__container {
        max-width: 608px;
        height: 100%;
        padding: $indentM;
        background-color: var(--g-color-base-background);
        border-radius: $borderRadius;
    }
}
