@import '../../../styles/mixins';
@import '../../../styles/variables';

$block: '.#{$ns}reports-cards-block';

#{$block} {
    &__title {
        margin-bottom: $indentSM;
    }

    &__items {
        row-gap: $indentXS;
    }

    &__postscript {
        @include text-size(body-1);

        margin-top: $indentM;
    }
}
