@import '../../../../styles/mixins';
@import '../../../../styles/variables';

$block: '.#{$ns}reports-sections-section';

#{$block} {
    padding: $indentM;
    border-radius: $indentSM;
    background: var(--g-color-base-background);
    box-shadow: 0 4px 24px var(--pc-color-sfx-shadow), 0 2px 8px var(--pc-color-sfx-shadow);

    &__date {
        @include text-size(body-3);
        margin-bottom: $indentXS;
    }

    &__title {
        @include heading2();

        margin: 0;
    }

    &__files {
        @include reset-list-style();
    }
}
