@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}scroller-block';

#{$block} {
    @include animate(#{$block}__root);

    &__content {
        position: relative;
        gap: $indentXS;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        &_fullWidth {
            width: 100vw;
        }

        &_gapLong {
            gap: $indentL;
        }
    }

    &__item {
        position: relative;
        z-index: 1;
        flex: none;
    }
}
