@import '../../../../styles/mixins';
@import '../../../../styles/variables';

$block: '.#{$ns}blog-feed-posts';

#{$block} {
    &__wrap {
        padding-top: $indentSM;
        scroll-margin: $indentL;
    }
}
