@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$block: '.#{$ns}paginator';

$itemDimensions: 52px;

#{$block} {
    $block: &;

    @include reset-list-style();

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        $item: &;
        @include text-size(body-2);

        display: inline-flex;
        align-items: center;
        justify-content: center;

        min-width: $itemDimensions;
        min-height: $itemDimensions;
        margin: 0 $indent4XS;

        padding: $indentXS $indentS;

        border: none;
        border-radius: $indentXXXS;
        background: transparent;

        color: var(--g-color-text-primary);

        &:hover {
            background-color: var(--g-color-private-blue-50);
        }

        &_type {
            &_page {
                cursor: pointer;

                &#{$item}_active {
                    background-color: var(--g-color-private-blue-200-solid);
                    cursor: default;
                }
            }

            &_prev,
            &_next {
                cursor: pointer;
                gap: $indentXXXS;
                font-size: 14px;
            }
        }
    }
}
